<%= render partial: "layouts/msgext" %>
<%= render partial: "msgext_courtDate" %>

<% content_for :title, "Notice of Intention to Appear Form" %>


<h1 class="formTitle">Generate Court Dates
  <p><%= @testVariable %> are the number of records. </p>
</h1>

