<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<% content_for :title, "Request Paralegal Services" %>

<div class="Header">
  <%= image_tag("/assets/TSLogo.png") %>
  <h1>Request Paralegal Services</h1>
  <hr>
</div>

<form action="submitParalegalRequest" method="post" id="paralegalRequestForm">

<h2>Contact Info</h2>
<hr>
<div class="container">
  <div class="row">
    Name
  </div>
  <div class="row">
    <input type="text" name="name">
  </div>

  <div class="row">
    Telephone No.
  </div>
  <div class="row">
    <input id="telephoneNo1" class="input-md heightFix" type="tel" size=3 maxlength="3">
    &nbsp;
    <input id="telephoneNo2" class="input-md heightFix" type=tel size=3 maxlength="3">
     - 
    <input id="telephoneNo3" class="input-md heightFix" type=tel size=4 maxlength="4">
  </div>

  <div class="row">
    Email
  </div>
  <div class="row">
    <input type="text" name="email">
  </div>
</div>

<br><br>

<h2>Mailing Address</h2>
<hr>
<div class="container">
  <div class="row">
    Street No.
  </div>
  <div class="row">
    <input type="number" name="streetNo">
  </div>

  <div class="row">
    Street
  </div>
  <div class="row">
    <input type="text" name="street">
  </div>

  <div class="row">
    Street No.
  </div>
  <div class="row">
    <input type="number" name="streetNo">
  </div>

  <div class="row">
    Municipality
  </div>
  <div class="row">
    <input type="text" name="municipality">
  </div>

  <div class="row">
    Province
  </div>
  <div class="row">
    <input type="text" name="province">
  </div>
</div>

<br><br>

<h2>Ticket Info</h2>
<hr>
<div class="container">
  <div class="row">
    Offence No.
  </div>
  <div class="row">
    <input type="number" name="offenceNo">
  </div>

  <div class="row">
    Offence Date
  </div>
  <div class="row">
    <input type="date" name="street">
  </div>

  <div class="row">
    ICON Code
  </div>
  <div class="row">
    <select id="iconCodeDropdown">
      <option value="icon1234">1234</option>
      <option value="icon5678">5678</option>
      <option value="icon5432">5432</option>
      <option value="icon5728">5728</option>
    </select>
  </div>

  <div class="row">
    ICON Code
  </div>
  <div class="row">
    <select id="offenceDropdown">
      <option value="speeding">Speeding</option>
      <option value="redLightCamera">Red Light Infraction</option>
      <option value="unsafeTurn">Unsafe Turn</option>
      <option value="failureToStop">Stop Sign Infraction</option>
    </select>
  </div>
</div>

</form>
<hr>

<button type="submit" form="paralegalRequestForm" value="Submit">Submit</button>